<div class="container edit-container">
  <h2>Edit Profile</h2>
  <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
      <%= f.input :email, required: true, autofocus: true %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :profile_picture, as: :attachinary %>
    <%= f.input :bio%>
    <%= f.input :password, :label => "Change Your Password", autocomplete: "off", required: false %>
    <%= f.input :password_confirmation, :label => "Confirm New Password", required: false %>
    <%= f.input :current_password, hint: "Enter current password to confirm changes", required: true %>
    <br>
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <%= f.button :submit, "Update", class: "btn btn-primary" %>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "Back", :back %>
</div>
