<div class="container signup-container">
  <h2>Sign up</h2>
  <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <div class="row">
      <div class="col-xs-6">
        <%= f.input :first_name, required: true, autofocus: true %>
      </div>
      <div class="col-xs-6">
        <%= f.input :last_name, required: true, autofocus: true %>
      </div>
      </div>
      <%= f.input :bio, autofocus: true %>
      <%= f.input :profile_picture, as: :attachinary %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
      <div class="col-xs-4">
      </div>
  <% end %>
  <br>
  <br>
  <%= render "devise/shared/links" %>
</div>

