
<div class="container">
  <div class="row">
    <div class="stat col-xs-4">
      <div class="stat-content">
      <% if @user.profile_picture? %>
      <%= cl_image_tag @user.profile_picture.path, width: 150, height: 150, crop: :fill %>
      <% end %>
        <h2><%= @user.first_name %> <%= @user.last_name%></h4>
        <% if @user.age != nil %> <p><%= @user.age%>years old</p><%end%>
        <% if @user.gender != nil %> <p><%= @user.gender%></p><%end%>



        <%= link_to 'edit user', edit_user_registration_path(@user)%>
      </div>
    </div>
    <div class="stat col-xs-7">
      <div class="stat-content">
        <h3>Bio</h3>
        <p><%= @user.bio%></p>
      </div>
    </div>
    <div class="row">
      <div class="stat col-xs-4">
        <div class="stat-content">
          <p>host reviews</p>
        </div>
      </div>
      <div class="stat col-xs-7">
        <div class="stat-content">
          <p>job reviews</p>
        </div>
      </div>
    </div>
  </div>
</div>
