<% projects_by_subject.each do |project_by_subject| %>
	<div class="boxx" style="position: relative; display:flex-center;">
	    <div class="col-xs-12 col-sm-4">
		    	<%= link_to project_path(project_by_subject.project) do %>
		    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.mormontransitions.org/wp-content/uploads/2015/12/Movie-making4.jpg');">
		  		<div class="card-category"><%= project_by_subject.project.location %></div>
		  			<div class="card-description">
		    			<h2><%= project_by_subject.project.title %></h2>
		    			<p><%= project_by_subject.project.schedule %></p>
		    		</div>
		    	<!-- <img class="card-user" src="https://placehold.it/300x300.png"> -->
          <%= cl_image_tag user_avatar(project_by_subject.project.user), crop: :fill, class: "card-user" %>
			</div>
			<div class="card-footer">
        		<h3><%= project_by_subject.skill.title %></h3>
        	</div>
		<% end %>
		</div>
	</div>
<% end %>
