<h1 class="text-center">Jobs</h1>
<div class="container">
	<div class="container_searchbar col-xs-12">
		<div class="form-group">
		<%= form_tag(projects_path, method: :get, id: "search-form") do %>
			<div class="col-xs-3 container_searchfield">
			<label for="container_searchfield">Where</label>
				<%= text_field_tag :search, value = "", name: "search[location]" , placeholder: "Anywhere", class: "form-control" %>
			</div>
		        <div class="col-xs-3 date">
		           	<label for="date">When</label>
		            <div class="input-group input-append date" id="datePicker">
		                <%= text_field_tag "search[schedule]", {}, placeholder: "Anytime", value: params[:search][:schedule], class: "form-control" %>
		                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
		            </div>
		        </div>

			<div class="col-xs-3">
		    <label for="searchbar_dropdown">Role</label>
				<%= collection_select(:search, :skill_id, Skill.all.order("title ASC"), :id, :title, {:prompt => ""}, class: "form-control" ) %>
		  	</div>

			<div class="col-xs-3" id="search_button">
				<%= submit_tag "Dig for projects", name: nil, class: 'btn btn-primary' %>	
				<% end 	%>	
		    </div>
		</div>
	</div>
</div>

<% if @jobs.any? %>
	<div class="container">
		<%= render "project" , projects_by_subject: @jobs %>
	</div>
<% else %>
	<p>There are no projects containing the term(s) <%= params[:search] %></p>
<% end %>


<%= content_for :after_js do %>
	<script>
	$('#datePicker').datepicker({
	        autoclose: true,    // It is false, by default
	        format: 'dd/mm/yyyy'
	    }).on('changeDate', function(e) {
	        
	    });
	</script>

	<script>
	$(document).ready(function() {
	    $('#datePicker')
	        .datepicker({
	            autoclose: true,
	            format: 'dd/mm/yyyy'
	        })
	        .on('changeDate', function(e) {
	            // Revalidate the date field
	            $('#eventForm').formValidation('revalidateField', 'date');
	        });

	    });
	</script>
<% end %>