<h1 class="text-center">Jobs</h1>

<div class="container_searchbar">
	<%= form_tag(projects_path, method: :get, id: "search-form") do %>
	<div class="col-xs-3 container_searchfield">
		<p>Where</p>
		<div class="container_text">
			<%= text_field_tag :search, value = "", name: "search[location]" , placeholder: "Anywhere" %>
		</div>
	</div>
    <div class="form-group">
        <label class="control-label"></label>
        <div class="col-xs-3 date">
            <div class="input-group input-append date" id="datePicker">
            <p>When</p>
                <%= text_field_tag "search[schedule]", {}, placeholder: "Anytime", value: params[:search][:schedule] %>
                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

	<div class="col-xs-3 container_searchfield">
		<p>Role</p>
		<%= collection_select(:search, :skill_id, Skill.all.order("title ASC"), :id, :title, {:prompt => ""} ) %>
	</div>

	<div class="col-xs-3">
		<%= submit_tag "Dig for projects" %>
		<% end 	%>	
	</div>
</div>

<% if @jobs.any? %>
	<div class="container">
		<%= render "project" , projects_by_subject: @jobs %>
	</div>
<% else %>
	<p>There are no projects containing the term(s) <%= params[:search] %></p>
<% end %>


<%= content_for :after_js do %>
	<script>
	$('#datePicker').datepicker({
	        autoclose: true,    // It is false, by default
	        format: 'dd/mm/yyyy'
	    }).on('changeDate', function(e) {
	        
	    });
	</script>

	<script>
	$(document).ready(function() {
	    $('#datePicker')
	        .datepicker({
	            autoclose: true,
	            format: 'dd/mm/yyyy'
	        })
	        .on('changeDate', function(e) {
	            // Revalidate the date field
	            $('#eventForm').formValidation('revalidateField', 'date');
	        });

	    });
	</script>
<% end %>