<h1 class="text-center">Index for Projects</h1>

<div class="container_searchbar">
	<%= form_for(projects_path, :method => "get", id: "search-form") do %>
	<div class="container_searchfield">
		<p>Where</p>
		<div class="container_text">
			<%= text_field_tag :search, value = "", name: "search[:location]" , placeholder: "Anywhere" %>
		</div>
	</div>
	<div class="container_searchfield">
		<div class="container_text">
			<p>When</p>
			<%= text_field_tag :search, value = "", name: "search[:schedule]" , placeholder: "Anytime" %>
		</div>
	</div>
	<div class="container_searchfield">
		<p>Role</p>
		<%= collection_select(:search, :skill_id, Skill.all, :id, :title, {:prompt => ""} ) %>
	</div>

	<!-- <input type="submit" class="btn btn-primary" value="Dig for projects"> -->
	<%= submit_tag "Dig for projects" %>
	<% end 	%>	
</div>

<% if @projects_by_subject.any? %>
	<div class="container">
		<%= render "project" , projects_by_subject: @projects_by_subject %>
	</div>
<% else %>
	<p>There are no projects containing the term(s) <%= params[:search] %></p>
<% end %>


<div id="map" style="width: 600px; height: 400px;"></div>

<% content_for(:after_js) do %>
  <script type="text/javascript" do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
<% end %>